* {
    box-sizing: border-box;
    color: #b4b4b4;
}
body{
    background-color: #202020;
}
.table .dot{
    height: 50px;
    width: 50px;
}

.dot {
    height: 30px;
    width: 30px;
    background-color: #747474;
    border-radius: 1000px;
    display: inline-block;

}
.space{
    cursor: pointer;
}

.user {
    background-color: #ED3542;
}

.cpu {
    background-color: #2c7db9;
}

.text {
    height: 25px;
    padding-top: 4px;
    font-size: 15px;
    font-weight: bold;
    font-family: monospace;
    padding-left: 5px;
}
.win{
    font-weight: bold;
    font-family: monospace;
}
.blured{
    opacity: 0.4;
}
.focus{
    opacity: 1;
}

.block {
    height: 25px;
    width: 312px;
    text-align: center;

}
.block:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.inner {
    display: inline-block;
    vertical-align: middle;
}
.title{
    font-size: 19px;
    font-weight: bold;
    font-family: monospace;
    padding-bottom: 30px;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    margin-left: 25%;

}